<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<section id = "footer">
  <h5>
    You can find us here!
  </h5>

  <ul id = "icons">
    <li class = "iconLi"><a href = "https://www.facebook.com/Micrometl" rel = "noopener" target = "blank"><span class="fab fa-facebook-square"></span></a></li>
    <li class = "iconLi"><a href = "https://www.youtube.com/user/MicrometlCorporation" rel = "noopener" target = "blank"><span class="fab fa-youtube"></span></a></li>
    <li class = "iconLi"><a href = "https://twitter.com/micrometl" rel = "noopener" target = "blank"><span class="fab fa-twitter-square"></span></a></li>
    <li class = "iconLi"><a href = "https://www.linkedin.com/company/micrometl" rel = "noopener" target = "blank"><span class="fab fa-linkedin"></span></a></li>
  </ul>
</section>