<div class = "div">
  <h2 id = "title">Established in 1965, MicroMetl is currently the largest 
    independent manufacturer of accessories for commercial heating and cooling equipment.
  </h2>
  <p id = "main">Roof curbs, specialty curbs, concentric duct packages, outside air hoods, power exhaust units, mixing boxes and economizers and energy recovery ventilators for many of the major HVAC manufactures. In addition, MicroMetl provides customized products for unique applications.

    MicroMetl operates three manufacturing facilities that serve the HVAC industry from coast-to-coast. Our plants are located in Indianapolis, IN, Sparks, NV, and Longview, TX.
    
    Specialty products that MicroMetl can provide include <b>seismically</b> rated and <b>calculated vibration isolation roof curbs</b> for building projects, <b>energy recovery ventilators</b> (ERV) that have certified performance ratings and energy code compliant <b>economizers</b> and <b>mixing boxes.</b>
    
    Our MicroMetl team is comprised of seasoned industry veterans. Many of our employees and management possess decades of experience in manufacturing, and HVAC product design.
    
    <b>Look for more innovative products and solutions from MicroMetl in the future.</b>
    
    <b>We continually develop products that meet the changing needs of the HVAC industry.</b></p>
</div>