<!-- <span class = "div" id = "titleContainer">
    
</span> -->
<div class = "div">
  <h1 id = "title">Our Story</h1>
  <p id = "main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum tellus elementum lectus convallis, 
    sit amet finibus dolor auctor. Curabitur tempus sem nec neque scelerisque, eu facilisis erat sollicitudin. 
    Duis et rhoncus augue, nec posuere mauris. Etiam sollicitudin vel velit a imperdiet. Ut quis malesuada mauris. 
    Cras eleifend viverra justo, at auctor dui elementum ac. Quisque malesuada dignissim convallis. 
    Sed vel diam purus. Donec accumsan, nibh faucibus dapibus ornare, 
    nisl odio ullamcorper odio, sit amet convallis tellus arcu nec purus. Donec mollis quis nisl id posuere. 
    Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. 
    Maecenas ullamcorper odio dui, nec ornare tellus interdum at.</p>
</div>